.container-gifs-details {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.title--gifs-details {
  color: rgb(111, 111, 111);
  font-size: 14px;
  font-weight: 700;
}

.img-gifs-details {
  margin-top:0.5rem;
  width: 400px;
}

