.container-trendingSeccion {
  position: relative;  
  width: 100%;
  height: auto;
}

.container-gifs-trendingSeccion {
  overflow: hidden;
  display: flex;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}


.container-gifs-trendingSeccion img{
  margin-bottom: 0.5rem;
  border-radius: 5px;
  height: 9rem;
}