.container-clipsSeccion {
  position: relative;  
  width: 1040px;
  height: auto;
}

.container-gifs-clipsSeccion {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  height: 471;
  gap: 0.5rem;
  justify-content: space-between;
}

.container-username--clips {
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
}

.container-username--clips p{
  font-size: 14px;
  font-weight: 400;
}

.container-username--clips .logo-artist-clips {
  width: 25px;
  height: 25px;
  border-radius: 0;
  margin-right: 8px;
}

.container-username--clips .logo-artist-verifed {
  width: 15px;
  height: 15px;
  border-radius: 0;
  margin-left: 4px;
  margin-top: 0.3rem;
}
