.input-form {
  display: flex;
  height: 2.8rem;
  width: 100%;
  background: white;
  border-radius: 5px;
}

.search-input--form {
  color: gray;
  font-size: large;
  padding-left: 0.5rem;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 95%;
}

.search-input--form:focus{
  outline: none;
}

.search-input--form::placeholder {
  font-size: large;
  color: rgb(190, 188, 188);
}

.submit-button--form {
  cursor: pointer;
  border: none;
  border-radius:5px;
  background-color: purple;
  background: linear-gradient(
    60deg,
    rgb(167, 109, 238) 10%,
    #e14ae1 60%,
    rgb(250, 140, 97) 100%
  );
  width: 5%;
}
