:root {
  --brand-color_1: #00ff99;
  --brand-color_2: #00ccff;
  --brand-color_3: #9933ff;
  --brand-color_4: #9933ff;
  --brand-color_5: #fff35c;
}

*{
  color: white;
}

body{
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.container-app{
  margin: 0 auto;
  width: 1040px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  text-align: center;
}