.item-list-gifs {
  cursor: pointer;
  background-color: rgb(138, 74, 242);
  width: 100%;
  min-height: 150px;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

